[submodule "vendor/vaultwarden"]
	path = vendor/vaultwarden
	url = git@github.com:eulennest/vaultwarden.git
[submodule "vendor/matrix-dotnet-sdk"]
	path = vendor/matrix-dotnet-sdk
	url = https://github.com/SlimeQ/matrix-dotnet-sdk.git
